# Entorno virtual
envCV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Bases de datos, dejamos fichero python de tests
#*.sqlite3
#*.db

# Logs y documentacion extra
logs/

# Documentos resultantes, aunque sean de test
*.docx

# Configuracion de IDE
.vscode/
.idea/

# Tonteria que esto es python!!!
# # Todo lo que sigue es por el Eclipse y sus configuraciones
# # Aunque seguro que hay que modificar su root
# # Archivos generados por Eclipse
# .metadata/
# .classpath
# .project
# .settings/

# # Archivos generados por Maven
# target/

# # Archivos de configuración del IDE
# *.iml
# .idea/
# .vscode/

# # Archivos de registro
# *.log

# # Archivos del sistema operativo
# .DS_Store
# Thumbs.db

# # Archivos temporales o de compilación
# *.tmp
# *.bak
# *.swp
# *~

# # Archivos de dependencia
# *.jar
# *.war
# *.ear

# # Directorios de salida de compilación
# bin/
# build/
# dist/

# # Archivos específicos de Maven
# dependency-reduced-pom.xml
# release.properties
# pom.xml.tag
# pom.xml.releaseBackup
# pom.xml.versionsBackup
# pom.xml.next

# # Archivos relacionados con herramientas de integración
# .env
# node_modules/
# yarn-error.log
# package-lock.json

# # Archivos de configuración específicos del usuario
# *.prefs
